<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p [hidden]="!existeMensagem">{{ mensagem }}</p>
        <div *ngIf="existeModalForm">
            <div *ngFor="let item of config.cabecalhos; let i = index" class="form-group">
                {{item}}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cancelar()"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'geral.modal.cancelar' | translate }}</button>
        <button [hidden]="!existeBotaoCriar" type="button" class="btn btn-success" (click)="clicaBotaoCriar()">{{ 'geral.modal.cadastrar' | translate }} <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        <button [hidden]="!existeBotaoEditar" type="button" class="btn btn-warning" (click)="clicaBotaoEditar()">{{ 'geral.modal.editar' | translate }} <i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button [hidden]="!existeBotaoExcluir" type="button" class="btn btn-danger" (click)="clicaBotaoExcluir()">{{ 'geral.modal.excluir' | translate }} <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>