<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p [hidden]="!existeMensagem">{{ mensagem }}</p>
        <div *ngIf="existeModalForm">
            <div *ngFor="let item of config.cabecalhos; let i = index" class="form-group">
                <label for="{{item}}"><b>{{ tradutor(item) }}:</b></label>
                <input *ngIf="config.tipos[i] !== 'select'" id="{{item}}" name="{{item}}" type="{{config.tipos[i]}}" class="form-control" placeholder="{{ tradutor(item) }}" [(ngModel)]="registro[item]" mask="{{config.mascaras[i]}}" [attr.disabled]="config.desabilitados[i] == 'true' ? '' : null">
                <select *ngIf="config.tipos[i] == 'select'" id="{{item}}" name="{{item}}" class="form-control" [(ngModel)]="registro[item]">
                    <option [value]="undefined" class="select-disabled">Selecione...</option>
                    <option *ngFor="let selecao of config.selects[item].values; let j = index" value="{{selecao}}">{{config.selects[item].labels[j]}}</option>
                </select>
                <div id="msg_{{item}}"></div>
            </div>
        </div>
        <div *ngIf="existeModalDetalhes">
            <div *ngFor="let item of config.cabecalhos">
                <div><b>{{ tradutor(item) }}:</b> {{ conjuntoDados[item] }}</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [hidden]="!existeBotaoCancelar" type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="cancelar()"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'geral.modal.cancelar' | translate }}</button>
        <button [hidden]="!existeBotaoDetalhes" type="button" class="btn btn-info" (click)="detalhes()">{{ 'geral.modal.verMais' | translate }} <i class="fa fa-info-circle" aria-hidden="true"></i></button>
        <button [hidden]="!existeBotaoCriar" type="button" class="btn btn-success" (click)="enviar()">{{ 'geral.modal.cadastrar' | translate }} <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        <button [hidden]="!existeBotaoEditar" type="button" class="btn btn-warning" (click)="enviar()">{{ 'geral.modal.editar' | translate }} <i class="fa fa-pencil" aria-hidden="true"></i></button>
        <button [hidden]="!existeBotaoExcluir" type="button" class="btn btn-danger" (click)="clicaBotaoExcluir()">{{ 'geral.modal.excluir' | translate }} <i class="fa fa-trash" aria-hidden="true"></i></button>
    </div>
</div>