<div class="row center-div">
    <h1 class="first-color">Clientes <i class="fa fa-handshake-o last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Lista de clientes da empresa:</p>
</div>

<div class="row table-responsive div-table space-margin-sm">
  <app-table [titulo]="titulo" [config]="config" [url]="url" [parametros]="parametros"></app-table>
</div>

<div class="row">
    <h4>Análises e Estatísticas</h4>
    <canvas id="chartProjetoCliente"></canvas>
    <canvas id="chartAtividadeClienteEtapa"></canvas>
</div>