<div class="row right-end">
    <a [routerLink]="['../']" class="btn btn-outline-success" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <a [routerLink]="['../../update/', id]" class="btn btn-outline-success" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
    <a (click)="salvarPDF()" class="btn btn-outline-success" title="Salvar como PDF"><i class="fa fa-save" aria-hidden="true"></i></a>
</div>
<div class="row">
    <img [hidden]="!existeFoto" class="details" [src]="fotoUrl" width="200">
    <div class="details">
        <div *ngFor="let item of config.cabecalhos">
            <div *ngFor="let linha of conjuntoDados">
                <div><b>{{ tradutor(item) }}:</b> {{ linha[item] }}</div>
            </div>
        </div>
    </div>
</div>