<div class="row center-div">
    <h1 class="first-color">Início <i class="fa fa-home last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Olá {{dsc_nome}}, bem-vindo à empresa {{ dsc_empresa }}!</p>
</div>

<div class="row group-card space-margin-sm">
  <div *ngFor="let item of objUsuario; let i = index" class="col-md-12 space-margin-sm">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper">
          <img [src]="fotoUsuario" height="290">
        </div>
        <div class="card-body">
          <h5 class="card-title card-horizontal-title">{{ item.dsc_nome }}</h5>
          <div class="card-text card-horizontal-text">
            <p class="col-md-12 col-lg-6">
              <strong>Código de Usuário:</strong> {{ item.id_usuario }}<br>
              <strong>Nome Completo:</strong> {{ item.dsc_nome_completo }}<br>
              <strong>E-mail:</strong> {{ item.dsc_email }}<br>
              <strong>Usuário:</strong> {{ item.dsc_login }}<br>
              <strong>Data de Nascimento:</strong> {{ item.dat_nascimento }}<br>
              <strong>CPF:</strong> {{ item.dsc_cpf }}<br>
              <strong>RG:</strong> {{ item.dsc_rg }}<br>
            </p>
            <p class="col-md-12 col-lg-6">
              <strong>Cargo:</strong> {{ item.dsc_cargo }}<br>
              <strong>Setor:</strong> {{ item.dsc_setor }}<br>
              <strong>Situação:</strong> {{ item.ind_status }}<br>
              <strong>Tipo de Contrato:</strong> {{ item.ind_contratacao }}<br>
              <strong>Data do Contrato:</strong> {{ item.dat_contratacao }}<br>
              <strong>Tipo de Usuário:</strong> {{ item.ind_controle_acesso }}<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let item of objEmpresa; let i = index" class="col-md-12 space-margin-sm">
    <div class="card">
      <div class="card-horizontal">
        <div class="img-square-wrapper">
          <img [src]="fotoEmpresa" height="290">
        </div>
        <div class="card-body">
          <h5 class="card-title card-horizontal-title">{{ item.dsc_nome }}</h5>
          <div class="card-text card-horizontal-text">
            <p class="col-md-12 col-lg-6">
              <strong>CNPJ:</strong> {{ item.dsc_cnpj }}<br>
              <strong>Data de Fundação:</strong> {{ item.dat_fundacao }}<br>
              <strong>Quantidade de Colaboradores:</strong> {{ item.qtd_usuario }}<br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h4>Análises e Estatísticas</h4>
  <!-- TODO: Colocar Filtro para Gráficos Funcionário/Empresa -->
  <canvas id="chartAtividadeEtapa"></canvas>
  <canvas id="chartAtividadePrioridadeEtapa"></canvas>
  <canvas id="chartAtividadeFuncionarioEtapa"></canvas>
  <canvas id="chartAtividadeSetorEtapa"></canvas>
</div>