<div class="row right-end">
    <a [routerLink]="voltarLink" class="btn btn-outline-success" title="{{ 'geral.form.voltar' | translate }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<form (ngSubmit)="enviar()" #form="ngForm" class="form-bottom">
    <div *ngFor="let item of config.cabecalhos; let i = index" class="form-group">
        <label for="{{item}}"><b>{{ tradutor(item) }}:</b></label>
        <input *ngIf="config.tipos[i] !== 'file'" id="{{item}}" name="{{item}}" type="{{config.tipos[i]}}" class="form-control" placeholder="{{ tradutor(item) }}" [(ngModel)]="registro[item]" mask="{{config.mascaras[i]}}" [attr.disabled]="config.desabilitados[i] == 'true' ? '' : null">
        <label for="{{item}}" *ngIf="config.tipos[i] == 'file'">&nbsp;<a class="btn btn-outline-success">{{ 'geral.form.escolher-arquivo' | translate }}</a></label>
        <input *ngIf="config.tipos[i] == 'file'" id="{{item}}" name="{{item}}" type="{{config.tipos[i]}}" class="form-control file-type-input" placeholder="{{ tradutor(item) }}" [(ngModel)]="registro[item]" (change)="carregarArquivo($event)">
        <div id="msg_{{item}}"></div>
    </div>
    <div [hidden]="!existeFoto" class="form-group">
        <img [src]="fotoUrl" id="imgPrevia" name="imgPrevia" class="img-fluid" alt="Foto" width="200">
    </div>
    <div [hidden]="!exibeBotoesSubmit" class="row menu-buttons">
        <a class="btn btn-danger {{classeBotoes}}" *ngIf="id" (click)="excluir()"><i class="fa fa-trash" aria-hidden="true"></i> {{ 'geral.form.excluir' | translate }}</a>
        <a class="btn btn-outline-secondary {{classeBotoes}}" [routerLink]="voltarLink"><i class="fa fa-ban" aria-hidden="true"></i> {{ 'geral.form.cancelar' | translate }}</a>
        <button class="btn btn-success {{classeBotoes}}" type="submit">{{operacao}} <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    </div>
</form>