<div class="row right-end">
    <a *ngIf="id" [routerLink]="['../../read']" class="btn btn-outline-success" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
    <a *ngIf="!id" [routerLink]="['../read']" class="btn btn-outline-success" title="Voltar"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
</div>

<form (ngSubmit)="enviar()" #form="ngForm">
    <div *ngFor="let item of config.cabecalhos; let i = index" class="form-group">
        <label for="{{item}}"><b>{{ tradutor(item) }}:</b></label>
        <input id="{{item}}" name="{{item}}" type="{{config.tipos[i]}}" class="form-control" placeholder="{{ tradutor(item) }}" [(ngModel)]="registro[item]">
        <div id="msg_{{item}}"></div>
    </div>
    <button class="btn btn-success btn-lg btn-block" type="submit">{{operacao}} <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
</form>