<div class="row center-div">
    <h1 class="first-color">Quadros <i class="fa fa-list-alt last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Detalhes do quadro:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id"></app-detail>

<div class="row table-responsive div-table">
    <h4>Quadro de Atividades por Etapas</h4>
    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board Name</p>
        </div>
        <div class="board-wrapper">
            <div class="board-columns">
                <div class="board-column">
                    <div class="column-title">To Do</div>
                </div>
                <div class="board-column">
                    <div class="column-title">Doing</div>
                </div>
                <div class="board-column">
                    <div class="column-title">Done</div>
                </div>
            </div>
        </div>
    </div>
</div>