<div class="row center-div">
    <h1 class="first-color">Quadro <i class="fa fa-list-alt last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Detalhes do quadro:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id" [existeBotaoExcluir]="existemBotoes"></app-detail>

<div class="row table-responsive">
    <h4 class="space-side">Quadro de Atividades por Etapas</h4>
    <div class="space-side">
        <select *ngIf="ind_controle_acesso != 'C'" id="filtro" class="form-control filter-select" (change)="alteraFiltroUsuarios($event)">
            <option value="0">Todos</option>
            <option *ngFor="let item of listaUsuarios" value="{{item['id_usuario_empresa']}}" [selected]="item['selected']">{{item['dsc_nome_completo']}}</option>
        </select>
    </div>
    <div *ngIf="etapaList.length == 0 ">Não existem etapas nesta empresa</div>
    <div *ngIf="etapaList.length != 0 " class="board" cdkDropListGroup>
        <div class="board-column" *ngFor="let etapa of etapaList">
            <div class="column-title">{{etapa.dsc_etapa}}</div>
            <div class="column-subtitle">
                <button class="btn btn-outline-success" (click)="criarAtividadeModal(etapa.id_etapa)" title="Criar Atividade Nesta Etapa"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>&nbsp;
                <span>Atividades:</span>
            </div>
            <div [id]="etapa.id_etapa" class="tasks-container" cdkDropList [cdkDropListData]="etapa.atividade_list" (cdkDropListDropped)="drop($event)">
                <div [id]="atividade.atividade_id" class="task" *ngFor="let atividade of etapa.atividade_list" cdkDrag>
                    <div *ngIf="atividade.atividade_prioridade == 'Urgente'" title="Prioridade: Urgente"><i class="fa fa-bell text-danger" aria-hidden="true"></i></div>
                    <div *ngIf="atividade.atividade_prioridade == 'Alta'" title="Prioridade: Alta"><i class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i></div>
                    <div *ngIf="atividade.atividade_prioridade == 'Normal'" title="Prioridade: Normal"><i class="fa fa-minus" aria-hidden="true"></i></div>
                    <div *ngIf="atividade.atividade_prioridade == 'Baixa'" title="Prioridade: Baixa"><i class="fa fa-arrow-down text-info" aria-hidden="true"></i></div>
                    <div>
                        <span class="task-title">{{atividade.atividade_nome}}</span>
                        <span class="task-buttons">
                            <button class="btn btn-outline-info" (click)="detalhesAtividadeModal(atividade.atividade_id)" title="Detalhes Atividade"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-success" (click)="atividadeVinculaFuncionario(atividade.atividade_id)" title="Vincular Funcionário"><i class="fa fa-user" aria-hidden="true"></i></button>
                            <button class="btn btn-outline-warning" (click)="editarAtividadeModal(atividade.atividade_id, etapa.id_etapa)" title="Editar Atividade"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>