<div class="row center-div">
    <h1 class="first-color">Quadros <i class="fa fa-list-alt last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Detalhes do quadro:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id"></app-detail>

<div class="row table-responsive">
    <h4>Quadro de Atividades por Etapas</h4>
    <div *ngIf="etapaList.length == 0 ">Não existem etapas nesta empresa</div>
    <div *ngIf="etapaList.length != 0 " class="board" cdkDropListGroup>
        <div class="board-column" *ngFor="let etapa of etapaList">
            <div class="column-title">{{etapa.dsc_etapa}}</div>
            <div class="column-subtitle">
                <a class="btn btn-outline-success" (click)="criarAtividadeModal(etapa.id_etapa)" title="Criar Atividade Nesta Etapa"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>&nbsp;
                <span>Atividades</span>
            </div>
            <div [id]="etapa.id_etapa" class="tasks-container" cdkDropList [cdkDropListData]="etapa.atividade_list" (cdkDropListDropped)="drop($event)">
                <div [id]="atividade.atividade_id" class="task" *ngFor="let atividade of etapa.atividade_list" cdkDrag>
                    <span>{{atividade.atividade_nome}}</span>
                    <div class="right-end">
                        <a class="btn btn-outline-info" (click)="detalhesAtividadeModal(atividade.atividade_id, etapa.id_etapa)" title="Detalhes"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
                        <a class="btn btn-outline-warning" (click)="editarAtividadeModal(atividade.atividade_id, etapa.id_etapa)" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO: Incluir botão de adicionar funcionários às atividades e arrumar CSS dos botões -->