<div class="row center-div">
    <h1 class="first-color">Atividades <i class="fa fa-tasks last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Lista de atividades da empresa:</p>
</div>

<div class="row space-side">
    <select id="filtro" class="form-control filter-select" (change)="alteraFiltroUsuarios($event)">
        <option value="0">Todos</option>
        <option *ngFor="let item of listaUsuarios" value="{{item['id_usuario_empresa']}}" [selected]="item['selected']">{{item['dsc_nome_completo']}}</option>
    </select>
</div>

<div class="row table-responsive div-table space-margin-sm">
    <app-table [titulo]="titulo" [config]="config" [url]="url" [parametros]="parametros"></app-table>
</div>

<div>
  <h4>Análises e Estatísticas</h4>
  <div class="row">
    <div class="space-margin-sm col-lg-6 col-md-12">
        <canvas id="chartAtividadeEtapa"></canvas>
    </div>
    <div class="space-margin-sm col-lg-6 col-md-12">
        <canvas id="chartAtividadePrioridadeEtapa"></canvas>
    </div>
  </div>
</div>