<div class="row center-div">
    <h1 class="first-color">Etapas <i class="fa fa-list-ol last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Detalhes da etapa:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id"></app-detail>

<div class="row table-responsive div-table">
  <h4>Atividades</h4>
  <app-table [titulo]="tituloAtividade" [config]="configAtividade" [url]="urlAtividade" [parametros]="parametros" [agregacao]="url" [idAgregacao]="id" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false></app-table>
</div>