<div class="row center-div">
  <h1 class="first-color">Minhas Empresas <i class="fa fa-users last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Selecione uma empresa da qual você participa:</p>
</div>

<form class="form">
  <div class="row menu-buttons">
    <a [routerLink]="['../create']" class="btn btn-success col-sm-4"><i class="fa fa-plus-circle" aria-hidden="true"></i> Criar Empresa</a>
    <input class="form-control col-sm-4" type="search" placeholder="Pesquisar empresa..." aria-label="Pesquisar">
    <button class="btn btn-outline-success col-sm-4" type="submit">Pesquisar <i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</form>

<div class="row">
  <div *ngFor="let item of listaEmpresas" class="col-sm-4">
    <div class="card">
      <img src="assets/images/user_group_icon.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ item.dsc_nome }}</h5>
        <p class="card-text">
          <strong>CNPJ:</strong> {{ item.dsc_cnpj }}<br>
          <strong>Data de Fundação:</strong> {{ item.dat_fundacao }}<br>
        </p>
        <a (click)="selecionarEmpresa(item.id_empresa, item.dsc_nome)" class="btn btn-success btn-block">Selecionar <i class="fa fa-paper-plane" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>