<div class="row center-div">
  <h1 class="first-color">Minhas Empresas <i class="fa fa-users last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Selecione uma empresa da qual você participa para gerenciá-la:</p>
</div>

<form (ngSubmit)="exibirEmpresas()" #form="ngForm">
  <div class="row menu-buttons">
    <button [routerLink]="['../create']" class="btn btn-success col-sm-4"><i class="fa fa-plus-circle" aria-hidden="true"></i> Criar Empresa</button>
    <input class="form-control col-sm-4" type="search" id="search" placeholder="Pesquisar empresa..." aria-label="Pesquisar">
    <button class="btn btn-outline-success col-sm-4" type="submit">Pesquisar <i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</form>

<div class="row group-card">
  <div *ngFor="let item of listaEmpresas; let i = index" class="col-sm-4">
    <div class="card">
      <img [src]="fotoURL[i]" class="card-img-top">
      <button [routerLink]="['../update/', item.id_empresa]" class="btn btn-light right-top" title="Editar empresa"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <div class="card-body">
        <h5 class="card-title">
          <a class="link-color" title="Detalhes da empresa" [routerLink]="['../read/', item.id_empresa]">
            {{ item.dsc_nome }}
            <i class="fa fa-info-circle last-color" aria-hidden="true"></i>
          </a>
        </h5>
        <p class="card-text">
          <strong>CNPJ:</strong> {{ item.dsc_cnpj }}<br>
          <strong>Data de Fundação:</strong> {{ item.dat_fundacao }}<br>
          <strong>Quantidade de Colaboradores:</strong> {{ item.qtd_usuario }}<br>
          <strong>Seu Cargo:</strong> {{ item.dsc_cargo }}<br>
          <strong>Sua Situação:</strong> {{ item.ind_status }}<br>
          <strong>Tipo de Contrato:</strong> {{ item.ind_contratacao }}<br>
          <strong>Data do Contrato:</strong> {{ item.dat_contratacao }}<br>
          <strong>Tipo de Usuário:</strong> {{ item.ind_controle_acesso }}<br>
        </p>
        <button *ngIf="item.ind_status != 'Desativado'" title="Selecionar empresa" (click)="selecionarEmpresa(item.id_empresa, item.dsc_nome, item.id_usuario_empresa, item.ind_controle_acesso)" class="btn btn-success btn-block">Selecionar <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button *ngIf="item.ind_status == 'Desativado'" title="Selecionar empresa" class="btn btn-success btn-block disabled button-disabled">Selecionar <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <div *ngIf="listaEmpresas !== undefined" class="register-number"><p><span *ngIf="listaEmpresas.length == 0">Não existem empresas relacionadas ao seu usuário</span></p></div>
</div>