<div class="row center-div">
    <h1 class="first-color">Empresa <i class="fa fa-users last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Detalhes da empresa:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id" [existeFoto]=true [fotoUrl]="fotoUrl"></app-detail>

<div class="row table-responsive div-table">
    <h4>Telefones</h4>
    <app-table [titulo]="tituloTelefone" [config]="configTelefone" [url]="urlTelefone" [parametros]="parametros" [existeBotaoDetalhes]=false [existeModalForm]=true></app-table>
</div>

<div class="row table-responsive div-table">
    <h4>Endereços</h4>
    <app-table [titulo]="tituloEndereco" [config]="configEndereco" [url]="urlEndereco" [parametros]="parametros" [existeBotaoDetalhes]=false [existeModalForm]=true></app-table>
</div>

<div class="row table-responsive div-table">
    <h4>E-mail's</h4>
    <app-table [titulo]="tituloEmail" [config]="configEmail" [url]="urlEmail" [parametros]="parametros" [existeBotaoDetalhes]=false [existeModalForm]=true></app-table>
</div>