<div class="row center-div">
    <h1 class="first-color">Empresa <i class="fa fa-users last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
    <p>Detalhes da empresa:</p>
</div>

<div class="row">
    <img class="information" src="assets/images/user_group_icon.png" width="348" height="318.67">
    <p class="information">
        <strong>Nome:</strong> <br>
        <strong>CNPJ:</strong> <br>
        <strong>Data de Fundação:</strong> <br>
        <strong>Quantidade de Colaboradores:</strong> <br>
    </p>
</div>

<div class="row">
    
</div>

<div class="row">
    
</div>