<div class="container col-6">
    <div class="center-div"><img src="assets/images/logo_light.png"></div>
    <div class="center-div"><h3 class="logo-title screen-title"><span class="first-color">Hard</span><span class="last-color">Worker</span></h3></div>
    <h5 class="text-dark">Login</h5>
    <form (ngSubmit)="fazerLogin()" #form="ngForm">
        <div class="form-group">
            <input class="form-control" type="text" id="dsc_login" name="dsc_login" placeholder="Usuário" [(ngModel)]="usuario.dsc_login">
            <div id="msg_dsc_login"></div>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="dsc_senha" name="dsc_senha" placeholder="Senha" [(ngModel)]="usuario.dsc_senha">
            <div id="msg_dsc_senha"></div>
        </div>
        <button class="btn btn-success btn-lg btn-block" type="submit">Entrar <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
        <button class="btn btn-primary btn-lg btn-block" (click)="fazerLoginFB()" type="button">Entrar com o Facebook <i class="fa fa-facebook-square" aria-hidden="true"></i></button>
        <button class="btn btn-link btn-lg btn-block" type="button" [routerLink]="['../usuario/create']">Crie sua conta</button>
    </form>
</div>