<div class="container col-6">
    <div class="center-div"><img src="assets/images/logo_light.png"></div>
    <div class="center-div"><h3 class="logo-title screen-title"><span class="first">Hard</span><span class="last">Worker</span></h3></div>
    <h5 class="text-dark">Login</h5>
    <form (ngSubmit)="fazerLogin()" #form="ngForm">
        <div class="form-group">
            <input class="form-control" type="text" id="dsc_login" name="dsc_login" placeholder="Usuário" [(ngModel)]="usuario.dsc_login" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="dsc_senha" name="dsc_senha" placeholder="Senha" [(ngModel)]="usuario.dsc_senha" required>
        </div>
        <button class="btn btn-success btn-lg btn-block" type="submit">Entrar</button>
        <button class="btn btn-link btn-lg btn-block" type="button" [routerLink]="['../usuario/create']">Crie sua conta</button>
    </form>
</div>