<div class="row center-div">
    <h1 class="first-color">Funcionários <i class="fa fa-user last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Lista de funcionários da empresa:</p>
</div>

<div class="row table-responsive div-table">
  <app-table
    [titulo]="titulo"
    [config]="config"
    [url]="url"
    [parametros]="parametros"
    [existeBotaoCriar]=false
    [existeBotaoDetalhes]=false
    [existeBotaoEditar]=false
    [existeBotaoExcluir]=false
    [existeBotaoCriarEspecial]="botaoConfig"
    [existeBotaoDetalhesEspecial]=true
    [existeBotaoEditarEspecial]="botaoConfig"
    [existeBotaoExcluirEspecial]="botaoConfig"
    [existeControleAcessoInfo]=true
    (emiteClicaBotaoCriarEspecial)="emiteClicaBotaoCriarEspecial()"
    (emiteClicaBotaoDetalhesEspecial)="emiteClicaBotaoDetalhesEspecial($event)"
    (emiteClicaBotaoEditarEspecial)="emiteClicaBotaoEditarEspecial($event)"
    (emiteClicaBotaoExcluirEspecial)="emiteClicaBotaoExcluirEspecial($event)"
  ></app-table>
</div>

<div *ngIf="usuarioDetailField" class="space-margin-sm">
  <div class="row right-end">
    <button class="btn btn-outline-secondary" (click)="ocultar()" title="Ocultar"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
  </div>
  
  <app-detail [titulo]="titulo" [config]="configDetail" [url]="url" [id]="id" [parametros]="parametros" [existemBotoes]=false [existeFoto]=true [fotoUrl]="fotoUrl"></app-detail>

  <div class="row table-responsive div-table">
    <h4>Telefones</h4>
    <app-table [titulo]="tituloTelefone" [config]="configTelefone" [url]="urlTelefone" [parametros]="parametrosRelacionados" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoDetalhes]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false></app-table>
  </div>
  
  <div class="row table-responsive div-table">
    <h4>Endereços</h4>
    <app-table [titulo]="tituloEndereco" [config]="configEndereco" [url]="urlEndereco" [parametros]="parametrosRelacionados" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoDetalhes]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false></app-table>
  </div>
  
  <div class="row table-responsive div-table">
    <h4>E-mail's</h4>
    <app-table [titulo]="tituloEmail" [config]="configEmail" [url]="urlEmail" [parametros]="parametrosRelacionados" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoDetalhes]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false></app-table>
  </div>

  <div class="row table-responsive div-table">
    <h4>Projetos</h4>
    <app-table [titulo]="tituloProjeto" [config]="configProjeto" [url]="urlProjeto" [parametros]="parametrosAssociados" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false [existeBotaoDetalhes]=false [existeBotaoDetalhesEspecial]=true (emiteClicaBotaoDetalhesEspecial)="emiteClicaBotaoDetalhesEspecialProjeto($event)"></app-table>
  </div>
  
  <div class="row table-responsive div-table">
    <h4>Atividades</h4>
    <app-table [titulo]="tituloAtividade" [config]="configAtividade" [url]="urlAtividade" [parametros]="parametrosAssociados" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false [existeBotaoDetalhes]=false [existeBotaoDetalhesEspecial]=true (emiteClicaBotaoDetalhesEspecial)="emiteClicaBotaoDetalhesEspecialAtividade($event)"></app-table>
  </div>
</div>

<div *ngIf="exibeGraficos">
  <h4>Análises e Estatísticas</h4>
  <div class="row">
    <div class="space-margin-sm col-lg-6 col-md-12">
      <canvas id="chartProjetoFuncionario"></canvas>
    </div>
    <div class="space-margin-sm col-lg-6 col-md-12">
      <canvas id="chartAtividadeFuncionarioEtapa"></canvas>
    </div>
  </div>
</div>