<div class="container col-6">
    <div class="center-div"><img src="assets/images/icon_white.png"></div>
    <div class="center-div"><h3 class="logo-title screen-title"><span class="first">Hard</span><span class="last">Worker</span></h3></div>
    <h5 class="text-dark">Crie sua conta</h5>
    <form (ngSubmit)="criarUsuario()" #form="ngForm">
        <div class="form-group">
            <input class="form-control" type="text" id="dsc_nome" name="dsc_nome" placeholder="Nome" [(ngModel)]="usuario.dsc_nome" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="dsc_sobrenome" name="dsc_sobrenome" placeholder="Sobrenome" [(ngModel)]="usuario.dsc_sobrenome">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" id="dsc_email" name="dsc_email" placeholder="E-mail" [(ngModel)]="usuario.dsc_email" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" id="dsc_login" name="dsc_login" placeholder="Usuário" [(ngModel)]="usuario.dsc_login" required>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" id="dsc_senha" name="dsc_senha" placeholder="Senha" [(ngModel)]="usuario.dsc_senha" required>
        </div>
        <button class="btn btn-success btn-lg btn-block" type="submit">Cadastrar</button>
        <button class="btn btn-link btn-lg btn-block" type="button" [routerLink]="['../../login']">Voltar</button>
    </form>
</div>