/* You can add global styles to this file, and also import other style files */
.clean-color {
    color: white;
}
.first-color {
    color: #40454A;
}
.last-color {
    color: #348A43;
}
.link-color {
    color: #28A745;
}
.link-color:hover {
    color: #348A43;
}
.center-div {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    text-align: center;
}
.logo-title {
    font-family: 'Brush Script MT', cursive;
}
.screen-title {
    font-size: 50px;
}
.nav-title {
    font-size: 30px !important;
}
@media (min-width: 992px) {
    .table {
        overflow-wrap: break-word !important;
        word-wrap: break-word !important;
        -webkit-hyphens: auto !important;
        -ms-hyphens: auto !important;
        hyphens: auto !important;
    }
}
.menu-buttons, .div-table {
    padding: 15px;
}
.group-card {
    justify-content: center;
}
@media (min-width: 992px) {
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
}
@media (max-width: 991px) {
    .card-horizontal {
        align-self: center;
        text-align: center;
    }
}
.card-horizontal {
    width: auto !important;
}
.card-horizontal-text {
    display: flex;
    flex-wrap: wrap;
}
.card-horizontal-title {
    padding: 15px;
}
.img-horizontal {
    align-self: center;
}
.space-margin-sm {
    margin-bottom: 25px;
}
.space-margin-lg {
    margin-bottom: 50px;
}
.space-margin-top {
    margin: 5px 0 0;
}
.space-side {
    padding: 0 15px;
}
.right-top {
    position: absolute;
    right: 5px;
    top: 5px;
}
.right-end {
    justify-content: flex-end;
    button, a {
        margin-right: 5px;
    }
}
.filter-select {
    margin: 10px 0;
    width: 25% !important;
}
.details {
    padding: 20px;
}
.clickable {
    cursor: pointer;
}
.info {
    font-size: 24px !important;
}
.paginator {
    margin: 15px auto;
    td {
        cursor: pointer;
        border-radius: 7px;
        width: 3em;
        text-align: center;
    }
    td:hover {
        background-color: #218838;
    }
    .selected-pager-block {
        color: white;
        background-color: #28A745;
    }
}
.register-number {
    text-align: center;
    width: 100%;
}
.form-bottom {
    margin-bottom: 20px;
}
.hide {
    display: none !important;
}
.select-disabled {
    color: gray;
}
.board {
    display: flex;
    .board-column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 0;
        min-width: 300px;
        margin: 15px 30px;
        padding: 10px 25px;
        border-radius: 7px;
        background: rgba(#28A745, 0.3);
        &:not(:first-child){
            margin-left: 0;
        }
        .column-title {
            color: #348A43;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10px;
            align-self: center;
        }
        .column-subtitle {
            margin: 0 5px 15px;
            color: #28A745;
            font-size: 16px;
            font-weight: 600;
        }
    }
}
.tasks-container {
    flex-grow: 1;
}
.task {
    color: #348A43;
    display: flex;
    justify-content: space-between;
    padding: 15px 12px;
    background: white;
    border-bottom: solid 1px #ddd;
    border-radius: 7px;
    margin-bottom: 10px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 3px 14px 2px rgba(0, 0, 0, 0.05);
}
.task-title {
    padding: 10px;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    -webkit-hyphens: auto !important;
    -ms-hyphens: auto !important;
    hyphens: auto !important;
}
.task-buttons {
    white-space: nowrap;
};
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
    opacity: 0;
}
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
@media print {
    button, input, select, .no-print {
        display: none !important;
    }
    a {
        color: #212529 !important;
        text-decoration: none !important;
    }
    .board, .board-column, .column-title, .column-subtitle {
        color: #212529 !important;
    }
    .board, .board-column, .task {
        display: block !important;
        margin: 15px !important;
        padding: 15px !important;
    }
}
.fc-toolbar-title {
    color: #348A43 !important;
}
.fc-toolbar-title:first-letter, .fc-col-header-cell-cushion:first-letter {
    text-transform: uppercase !important;
}
.fc-button {
    background-color: #348A43 !important;
    border-color: #348A43 !important;
}
.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    color: #28A745 !important;
}
.fc-event-main, .fc-daygrid-day-top {
    cursor: pointer !important;
}