/* You can add global styles to this file, and also import other style files */
.clean-color {
    color: white;
}
.first-color {
    color: #40454A;
}
.last-color {
    color: #348A43;
}
.link-color {
    color: #28A745;
}
.link-color:hover {
    color: #348A43;
}
.center-div {
    display: flex;
    justify-content: center;
    padding: 0 15px;
}
.logo-title {
    font-family: 'Brush Script MT', cursive;
}
.screen-title {
    font-size: 50px;
}
.nav-title {
    font-size: 30px !important;
}
.menu-buttons {
    padding: 15px;
}
.group-card {
    justify-content: center;
}
.right-top {
    position: absolute;
    right: 5px;
    top: 5px;
}
.information {
    padding: 20px;
}