<div class="row center-div">
    <h1 class="first-color">Setor <i class="fa fa-briefcase last-color" aria-hidden="true"></i></h1>
</div>

<div class="row center-div">
  <p>Detalhes do setor:</p>
</div>

<app-detail [titulo]="titulo" [config]="config" [url]="url" [id]="id" [existeBotaoExcluir]="existemBotoes"></app-detail>

<div class="row table-responsive div-table">
  <h4>Projetos</h4>
  <app-table [titulo]="tituloProjeto" [config]="configProjeto" [url]="urlProjeto" [parametros]="parametros" [agregacao]="url" [idAgregacao]="id" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false></app-table>
</div>

<div class="row table-responsive div-table">
  <h4>Funcionários</h4>
  <app-table [titulo]="tituloFuncionario" [config]="configFuncionario" [url]="urlFuncionario" [parametros]="parametros" [agregacao]="url" [idAgregacao]="id" [existeBotaoSalvar]=false [existeBotaoCriar]=false [existeBotaoEditar]=false [existeBotaoExcluir]=false [existeBotaoDetalhes]=false [existeBotaoDetalhesEspecial]=true (emiteClicaBotaoDetalhesEspecial)="emiteClicaBotaoDetalhesEspecialFuncionario($event)"></app-table>
</div>